@use '../abstracts' as *;
.distro__icons {
	list-style-type: none;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	padding:0;
	margin:0;
	gap: 1rem;
	padding-inline: 2rem;
	@media (min-width:350px) {
		flex-wrap: nowrap;
	}
}

.distro__item {
	list-style-type: none;
position: relative;
padding-bottom: 1.5ex;
margin-bottom: 1.5ex;

	.distro__name{
		font-size: .8rem;
		width: min-content;
		line-height: 1.2;
		text-align: center;
		left:0;
		width: 100%;
		opacity:0;
		transition: opacity .2s;
		padding-top: .5rem;
		position: absolute;
		text-wrap: nowrap;
		display: flex;
		justify-content: center;
	}
	&:hover .distro__name{
		opacity: 1;
	}
}
.distro__icon {
	width: 50px;
	aspect-ratio: 1;

}