@use './abstracts' as *;
html,body, .page-content,.site-main {
	height: 100%;
	font-family: var(--ff-body);
}


.site-container {  
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	gap: 0px 0px;
min-height:100%;
	grid-template-columns: 100%;
	grid-auto-flow: row;
	grid-template-areas:
	  "header"
	  "body"
	  "footer";
  }
  
  .site-header { grid-area: header; }
  
  .page-content { 
	grid-area: body; 
	min-height: 100%;
}
  
  .site-footer { grid-area: footer; }
  

.menu-toggle {
	display:none;
}
.site-description {
	display: none;
}

.site-branding{
	width: 250px;
	img {
		width: 100%;
	}
}
.main-navigation {
	.menu {
		list-style-type: none;
		display: flex;
	}
	a {
		text-decoration: none;
	}
}

.site-bg {
	position: fixed;
	inset: 0;
	background-size: cover;
	img {
		width: 100%;
	}
}

.site-main {
	position: relative;
}

.landing-section {
	padding-top: 2em;
	position: relative;
	
	width: 100%;
	display: flex;
	justify-content: center;
	min-height: 80vh;
	
	@include bp(md){
		min-height: 100vh;
	}
}
.hero {
	// position: absolute;
	// left: 50%; top: 50%;
	// transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
    gap: 2rem;
	.hero-logo {
		max-width: 1280px;
		width: 95%;
		filter: drop-shadow(2px 4px 6px black);
		@include bp(md){
			width: 60%;
		}
	}
}

.container {
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	padding-inline: 2rem;
}
.container-wide {
	@extend .container;
	max-width: 1280px;
}

.text-content {
	padding-top: 2rem;
	padding-bottom: 2rem;
	position: relative;
	z-index: 1;
	&:before {
		background-size: cover;
		background-image: url(../images/background.jpg);
		mask-image: linear-gradient(to bottom, transparent, black 10%);
		mask-size: cover;;
		position: absolute;
		inset:0;
		content:'';
		z-index: 0;
		opacity: .8;
	// background: linear-gradient(to bottom, transparent 5%, var(--background-color)), 
	// url(../images/background.jpg);
	}
	
}

section, p:last-of-type {
	margin-bottom: 0;
}

section > section {
	padding-top:4rem;
}

.blur-background {
	backdrop-filter: blur(6px);
}

.container-padding {
	padding: 1rem;
	padding: 2rem;
}
.border-radius {
	border-radius: .5rem;
}
.dark-background {
    margin: auto;
    border-radius: 1rem;
    border: 3px solid green;
    background-image: linear-gradient(-135deg, #122913, rgba(18, 41, 19, 0.4039215686));
    -webkit-backdrop-filter: hue-rotate(45deg);
    backdrop-filter: hue-rotate(45deg), blur(6px);;
}

.logline {
	text-align: left;
	text-shadow: 2px 2px 1px black;
	// font-size: 1.7rem;
	letter-spacing: 1px;
	@extend .readable-copy;
}

.d-none {
	display: none;
}

.readable-copy {
	font-size: 1em;
	@include bp(md){
	font-size: 1.5rem;
}
}

.content p {
	@extend .readable-copy;
}

.pt-3 {
	padding-top: 1rem;
}

.preview-container {
	padding: 2rem;
	// @extend .dark-background;
	border:none;
	iframe {
		margin-top: 2rem;
		width: 100%;
		max-width: 400px;
		margin-inline: auto;
		height: 100px;
		box-shadow: 1px 0px 2rem green;
		&:first-of-type {
			margin-top: 0;
		}
	}
}