
@forward './abstracts/breakpoints';
:root {
// Primitives //

	// COLORS

	// SPACERS
	--spacer-1: 4px;
	--spacer-2: calc(2 * var(--spacer-1));
	--spacer-3: calc(3 * var(--spacer-1));
	--spacer-4: calc(4 * var(--spacer-1));
	--spacer-5: calc(5 * var(--spacer-1));
	--spacer-6: calc(6 * var(--spacer-1));
	--spacer-7: calc(7 * var(--spacer-1));
	--spacer-8: calc(8 * var(--spacer-1));
	--spacer-9: calc(9 * var(--spacer-1));
	--spacer-10: calc(10 * var(--spacer-1));
	--spacer-11: calc(11 * var(--spacer-1));
	--spacer-12: calc(12 * var(--spacer-1));
	--spacer-13: calc(13 * var(--spacer-1));


// SEMANTIC
	--black: #000;
	--white: #FFF;

	--gap : var(--spacer-2);
}
